.text-area{  
  .text-area__label{
    h1{
      color: $blue;
      font-size: 1em;
      font-weight: 400;
      margin: 0px;
      margin-bottom: 5px;
      margin-left: 20px;
    }
  }

  .text-area__field{
    background-color: $offWhite;
    border: 1px solid gray(220);
    border-radius: 15px;
    padding: 20px;
    textarea{
      background-color: transparent;
      border: none;
      color: gray(60);
      font-size: 1em;
      font-weight: 400;
      min-height: 100px;
      min-width: 100%;
      max-width: 100%;
      padding: 0px;
      outline: none;
      width: 100%;

      &:invalid{
        + .input__error{
          display: block;
        }
      }
    }

    .text-area__error{
      color: $red;
      display: none;
      font-size: 0.8em;
      font-weight: 400;
      margin: 0px;
      margin-left: 20px;
      margin-top: 5px;
    }
  }
}