.checkbox{
  background-color: $offWhite;
  border: 1px solid gray(220);
  border-radius: 15px;
  cursor: pointer;
  padding: 20px;
  position: relative;

  &:hover{
    background-color: gray(240);
  }

  &.toggled{
    background-color: gray(240);
    .checkbox__field{
      i.checkbox__field-icon.yes{
        opacity: 1;
        transform: translateX(-50%) translateY(-50%) scale(1);
      }

      i.checkbox__field-icon.no{        
        opacity: 0;
        transform: translateX(-50%) translateY(-50%) scale(0.25);
      }
    }
  }

  .checkbox__label, .checkbox__field{
    display: inline-block;
    vertical-align: top;
  }

  .checkbox__label{
    height: 30px;
    line-height: 30px;
    h1{
      color: $blue;
      font-size: 1em;
      font-weight: 400;
      margin: 0px;
    }
  }

  .checkbox__field{
    height: 38px;
    margin: 15px;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 38px;

    i.checkbox__field-icon{
      color: gray(220);
      font-size: 2em;
      left: 50%;
      position: absolute;
      top: 50%;      
      transition: all 0.4s;

      &.yes{
        color: $green;
        opacity: 0;
        transform: translateX(-50%) translateY(-50%) scale(0.25);
      }
      
      &.no{
        opacity: 1;
        transform: translateX(-50%) translateY(-50%) scale(1);
      }
    }

    &:hover{

    }
  }
}