.table{
  background-color: $offWhite;
  border-radius: 15px;
  box-shadow: $shadow1;
  padding: 20px;
  position: relative;
  
  .table-tool-bar{
    height: 73px;
    margin-top: 20px;
    position: relative;
    .table-search-bar, 
    .table-page-control{
      display: inline-block;
      vertical-align: top;
    }

    .table-search-bar{   
      margin-top: 6px;
      width: 300px;
    }

    .table-page-control{
      border: 1px solid gray(220);          
      border-radius: 100px;
      padding: 5px;
      position: absolute;
      right: 0px;
      top: 0px;

      button, .table-current-page{
        display: inline-block;
        vertical-align: top;
      }

      button{
        &.disabled{
          opacity: 0.6;
          pointer-events: none;
        }
      }

      .table-current-page{
        height: 40px;
        margin: 0px 20px;
        h1{
          font-size: 1em;
          font-weight: 400;
          height: 40px;
          line-height: 40px;
          margin: 0px;
          text-align: center;
          width: 50px;
        }
      }
    }

    .table-row-quantity{
      bottom: 0px;
      position: absolute;
      right: 20px;
      h1{
        color: $blue;
        font-size: 0.8em;
        font-weight: 400;
        margin: 0px;
        margin-left: 20px;
      }
    }
  }

  .table-header{
    margin-top: 20px;
    position: relative;
    z-index: 2;
    .header-item{
      display: inline-block;
      width: 200px;
      
      &:nth-child(n + 2){
        margin-left: 20px;
      }

      h1{
        color: $blue;
        font-size: 1em;
        font-weight: 400;
        margin: 0px;
        margin-left: 20px;
      }
    }
  }

  .table-body{
    margin-top: 20px;
    position: relative;
    z-index: 2;
    .table-row{
      border-top: 1px solid gray(230);

      &:hover{
        background-color: gray(240);
      }

      .table-row-item{
        display: inline-block;
        padding: 15px 0px;
        width: 200px;

        &:nth-child(n + 2){
          margin-left: 20px;
        }

        h1{
          font-size: 1em;
          font-weight: 400;
          margin: 0px;
          margin-left: 20px;
        }
      }
    }

    .error-message{
      margin-top: 20px;
      h1{
        font-size: 1em;
        font-weight: 400;
        margin: 0px;
        margin-left: 20px;
      }
    }
  }

  .loading-indicator{
    border-radius: 15px;
    z-index: 1;
    .loading-indicator__front,
    .loading-indicator__back{
      border-radius: 13px;
    }
  }
}
