.multi-selection{
  .multi-selection__label{
    height: 30px;
    line-height: 30px;
    h1{
      color: $blue;
      font-size: 1em;
      font-weight: 400;
      margin: 0px;
    }
  }

  .multi-selection__contents{
    border: 1px solid gray(220);
    border-radius: 15px;
    padding: 20px;

    .multi-selection__items-wrapper{
      border: 1px solid gray(230);
      border-radius: 15px;
      padding: 20px;
      .multi-selection__items{
        max-height: 380px;
        overflow: auto;

        .multi-selection__item{
          cursor: pointer;
          padding: 10px;
          position: relative;

          &:hover{
            background-color: gray(240);
          }

          &:nth-child(n + 2){
            border-top: 1px solid gray(230);
          }

          &.selected{
            background-color: gray(240);
      
            .multi-selection__item-icon{
              i.selected-icon{
                opacity: 1;
                transform: translateX(-50%) translateY(-50%) scale(1);
              }
        
              i.unselected-icon{        
                opacity: 0;
                transform: translateX(-50%) translateY(-50%) scale(0.25);
              }
            }
          }

          &.disabled{
            opacity: 0.5;
            pointer-events: none;
          }
    
          .multi-selection__item-label, .multi-selection__item-priority{
            display: inline-block;
            vertical-align: top;
          }

          .multi-selection__item-label{
            h1{
              color: gray(60);
              font-size: 1em;
              font-weight: 400;
              height: 20px;
              line-height: 20px;
              margin: 0px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
          }

          .multi-selection__item-priority{
            background-color: $blue;
            border-radius: 100px;
            margin-left: 10px;

            h1{
              color: $offWhite;
              font-size: 0.7em;
              font-weight: 700;
              height: 18px;
              line-height: 18px;
              margin: 0px;
              text-align: center;
              width: 18px;
            }
          }

          .multi-selection__item-icon{
            height: 30px;
            margin: 5px;
            position: absolute;
            right: 0px;
            top: 0px;
            width: 30px;

            i{
              color: gray(220);
              left: 50%;
              position: absolute;
              top: 50%;
              transform: translateX(-50%) translateY(-50%);
              transition: all 0.4s;

              &.selected-icon{
                color: $green;
                font-size: 1em;
                opacity: 0;
                transform: translateX(-50%) translateY(-50%) scale(0.25);
              }
              
              &.unselected-icon{
                font-size: 1em;
                opacity: 1;
                transform: translateX(-50%) translateY(-50%) scale(1);
              }
            }
          }
        }
      }
    }
    
    .multi-selection__selected-items{
      border: 1px solid gray(230);
      border-radius: 15px;
      margin-top: 20px;
      padding: 20px;

      .no-inspection-reasons-selected-message{
        h1{
          color: gray(60);
          font-size: 1em;
          font-weight: 400;
          margin: 0px;

          .highlight{
            color: gray(180);
          }
        }
      }

      .selected-item{
        border-bottom: 1px solid gray(230);
        cursor: pointer;
        position: relative;

        &:hover{
          background-color: gray(240);

          .remove-icon{
            i{
              color: $red;
            }
          }
        }

        &:last-child{
          border-bottom: none;
        }

        .priority, .value{
          display: inline-block;
          padding: 10px;
          vertical-align: top;
          h1{
            color: gray(60);
            font-size: 1em;
            font-weight: 400;
            height: 20px;
            margin: 0px;
          }
        }

        .priority{
          width: 10px;
          h1{
            color: gray(150);
          }
        }

        .remove-icon{
          position: absolute;
          right: 10px;
          top: 10px;
          i{
            color: gray(220);
            height: 20px;
          }
        }
      }
    }
  }
}