.dropdown{
  position: relative;
  z-index: 1;

  &.focused{
    .dropdown__select-wrapper{
      background-color: rgba($blue, 0.15);
    }
  }

  .dropdown__label{
    margin-bottom: 5px;
    h1{
      color: $blue;
      font-size: 1em;
      font-weight: 400;
      height: 20px;
      margin: 0px;
      margin-left: 20px;
    }
  }

  .dropdown__select-wrapper{   
    border: 1px solid gray(220);
    border-radius: 100px;     
    overflow: hidden;
    padding: 10px 20px;
    position: relative;
    width: calc(100% - 42px);

    &.default{
      h1{
        color: gray(180);
      }
    }

    .dropdown__select{
      background-color: transparent;
      border: none;
      border-radius: 100px;
      font-size: 1em;
      font-weight: 400;
      left: 0px;
      margin-left: 20px;
      outline: none;  
      padding: 10px 0px;  
      padding-left: 20px;    
      position: absolute;
      top: 0px;
      width: calc(100% - 30px);
    }

    h1, i{
      display: inline-block;
      height: 20px;
      line-height: 20px;
      vertical-align: top;
    }

    h1{
      color: gray(60);
      font-size: 1em;
      font-weight: 400;
      margin: 0px;
      margin-left: 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: calc(100% - 40px);
    }

    i{
      color: gray(60);
      font-size: 1em;
      pointer-events: none;
      position: relative;
      text-align: center;
      width: 20px;
      z-index: 2;
    }
  }  
}